/* src/styles/Sidebar.css */
.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(125, 125, 125, 0.374);
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.avatar {
  background-color: #ff8f52;
  color: white;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px; /* Add some space between the avatar and the profile name */
}

.profile h2 {
  margin: 0;
  font-size: 18px;
}

/* .avatar {
  background-color: #ff5722;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 15px;
}

.menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu li a:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
}

/* Active link styles */
.menu li.active a {
  border-bottom: 1.5px solid #0000003f; /* Underline effect */
  color: #ff8f52; /* Change text color for active link */
}

.icon {
  margin-right: 10px;
  color: #ff8f52; /* Change text color for active link */
  font-size: 18px;
}

.ordersub {
  margin-left: 30px;
}
